@{
    ViewData["Title"] = "Hakkımzda";
    <link rel="stylesheet" href="~/css/aboutusStyle.css" />
}


<div class="aboutus-page">
    <div class="aboutusBg">
        <img src="~/img/AboutusBg.png" class="aboutusBg" />
    </div>

    <div class="aboutus-body-1">
        <div class="aboutus-yazi-10">Hakkımızda</div>

        <div class="aboutus-yazi-11"> 2023 Eylül ayında kurulmuş sanal bir kütüphanede çalışan kitap okumayı seven
            biriylerden oluşuyuruz.
        </div>

        <div class="aboutus-yazi-12">Amacımız dünyaya kitapları tanıtmak ve insan-kitap bağını güçlendirmek.
        </div>

        <div class="aboutus-yazi-13">Sonsuz maceraların kapıları aralanıyor! Sizleri kitapların büyülü dünyasına
            davet ediyoruz
        </div>

        <div class="aboutus-yazi-14"> Yılların deneyimiyle, kitapları seviyor ve sizlere her okuduğunuzda
            büyülenmenizi sağlayacak eserleri sunuyoruz
        </div>

    </div>
    <div class="aboutus-books-inbox">Books Inbox</div>
    
</div>
